@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
* {
    font-family: 'Open Sans', sans-serif;
    margin-top: 5px;
}

:root {
    --color-1: #7A4C00;
    --color-2: #F9B64B;
    --color-3: #F79900;
    --color-4: #785824;
    --color-5: #C47900;
}

.padding-page {
    margin-left: 5%;
    margin-right: 5%;
}


/* ################################### NAVBAR ################################### */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
}

.logo img {
    width: 225px;
}

.search input {
    width: 800px;
    font-size: 17px;
    padding: 15px 15px 15px 20px;
    border-radius: 5px;
    border: none;
    background-color: rgb(235, 235, 235);
}

.search input:focus {
    outline: none;
}

.search button {
    height: 30px;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.buttons a {
    margin-left: 20px;
    text-decoration: none;
    font-size: 18px;
    color: black;
}

.btn-login {
    background-color: white;
    border: solid 1px white;
    border-radius: 20px;
    font-size: 18px;
    cursor: pointer;
}


/* ################################### CONTADOR DE ITEMS CESTA ################################### */

.cart {
    position: relative;
}

#cart_menu_num {
    position: absolute;
    top: -51%;
    left: 65%;
    background: var(--color-4);
    font-size: 12px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 2px;
}


/* ################################### BOTON LOG OUT ################################### */

.log-out {
    color: black;
    background-color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.original-text {
    display: block;
}

.log-out:hover .original-text {
    display: none;
}


/* ################################### MENU ################################### */

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu p {
    margin: 20px;
}

.menu a {
    text-decoration: none;
    color: black;
}


/* ################################### CESTA ################################### */

.container {
    display: flex;
}

.left-column {
    width: 75%;
    background-color: red;
}

.right-column {
    width: 25%;
    background-color: blue;
}