@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

:root {
    --color-1: #7A4C00;
    --color-2: #F9B64B;
    --color-3: #F79900;
    --color-4: #785824;
    --color-5: #C47900;
}

.padding-page {
    margin-left: 5%;
    margin-right: 5%;
}


/* ################################### ESTILOS DE MODAL ################################### */

#login {
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.45);
    transition: all .4s;
}

#login:target {
    visibility: visible;
    opacity: 1;
}

.modal-login__content {
    border-radius: 4px;
    position: relative;
    width: 400px;
    height: 550px;
    background: #ffffff;
    padding: 1em 2em;
}

.btn-modal-login {
    background-color: #fff;
}

.modal-login__close {
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 30px;
    color: black;
    text-decoration: none;
}


/* ################################### BOTONES SELECION DE REGISTRAR O INICIAR SESION ################################### */

.selector-modal {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selector-modal button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-weight: normal;
    text-decoration: none;
    color: #333;
    padding: 10px;
    font-size: 18px;
    margin: 5px;
}

.selector-modal button:hover {
    text-decoration: underline;
    color: #7A4C00;
    border-bottom: 7px solid #7A4C00;
}

.selector-modal button.selected {
    text-decoration: underline;
    border-bottom: 7px solid #7A4C00;
}


/* ################################### INPUTS Y TEXTO REGISTRAR O INICIAR SESION ################################### */

#registrar-container,
#iniciar-container {
    display: none;
    margin-top: 30px;
}

#registrar-container h1,
#iniciar-container h1 {
    font-size: 15px;
}

#iniciar-container input,
#registrar-container input {
    display: block;
    margin-bottom: 10px;
}

.inputs-modal {
    margin-top: 20px;
}

.inputs-modal label {
    font-size: 15px;
}

.inputs-modal input {
    width: 96.5%;
    margin-top: 5px;
    font-size: 15px;
    height: 22.5px;
    padding: 5px 0px 5px 10px;
}

.inputs-modal input:focus {
    outline: none;
}

.btn-iniciarsesion-registarse {
    margin-top: 25px;
}

.btn-iniciarsesion-registarse button {
    background-color: var(--color-5);
    border: solid 1px black;
    color: white;
    width: 100%;
    font-size: 15px;
    padding: 5px 0px;
    cursor: pointer;
}

.btn-redes {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.btn-redes i {
    margin-right: 10px;
}

.btn-google {
    background-color: #e04c34;
    border: 2px solid #e04c34;
    color: white;
    cursor: pointer;
    font-size: 15px;
    width: 40%;
    margin: 5px;
    padding: 5px 0px;
}

.btn-facebook {
    background-color: #506494;
    border: 2px solid #506494;
    color: white;
    cursor: pointer;
    font-size: 15px;
    width: 40%;
    margin: 5px;
    padding: 5px 0px;
}


/* ################################### HR CON TEXTO EN EL MEDIO ################################### */

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 25px;
    font-size: 14px;
}

.separator::before,
.separator::after {
    content: '';
    flex: 2;
    border-bottom: 1px solid #000;
}

.separator:not(:empty)::before {
    margin-right: 15px;
}

.separator:not(:empty)::after {
    margin-left: 15px;
}


/* ################################### NAVBAR ################################### */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
}

.logo img {
    width: 225px;
}

.search input {
    width: 800px;
    font-size: 17px;
    padding: 15px 15px 15px 20px;
    border-radius: 5px;
    border: none;
    background-color: rgb(235, 235, 235);
}

.search input:focus {
    outline: none;
}

.search button {
    height: 30px;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.buttons a {
    margin-left: 20px;
    text-decoration: none;
    font-size: 18px;
    color: black;
}

.btn-login {
    background-color: white;
    border: solid 1px white;
    border-radius: 20px;
    font-size: 18px;
    cursor: pointer;
}


/* ################################### BOTON LOG OUT ################################### */

.log-out {
    color: black;
    background-color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.original-text {
    display: block;
}

.log-out:hover .original-text {
    display: none;
}


/* ################################### MENU ################################### */

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu p {
    margin: 20px;
}

.menu a {
    text-decoration: none;
    color: black;
}


/* ################################### IMAGEN ################################### */

.imagen-principal img {
    width: 100%;
}


/* ################################### CARD ################################### */

.four-columns {
    margin-top: 30px;
    display: flex;
}

.card {
    width: 20%;
    margin: 20px;
}

.card-image img {
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
}

.card-marca {
    margin-top: 10px;
    font-size: 13px;
    color: var(--color-1);
    /* font-weight: bold; */
    text-transform: uppercase;
}

.card-desc {
    margin-top: 3px;
}

.card-precio {
    margin-top: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

.card-boton {
    margin-top: 13px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.card-boton button {
    width: 100%;
    background-color: var(--color-4);
    border: 1px solid black;
    color: white;
    border-radius: 20px;
    padding: 5px;
    cursor: pointer;
}

.card-boton button:hover {
    background-color: #8a6529;
}


/* ################################### MENSAJE CON TEXTO ################################### */

.two-column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.text {
    width: 50%;
}

.text h2 {
    font-size: 50px;
    font-weight: bold;
}

.text p {
    font-size: 20px;
}

.image {
    width: 50%;
    padding: 50px;
}

.image img {
    max-width: 100%;
}


/* ################################### FOUR MARCAS ################################### */

.four-marcas {
    display: flex;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
}

.four-marcas img {
    margin: 15px;
    width: 150px;
}


/* ################################### RESPONSIVE MODE ################################### */

@media only screen and (max-width: 600px) {
    .modal-login__content {
        width: 100%;
        height: 100%;
    }
}